@charset "UTF-8";
@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css';
@import 'https://fonts.googleapis.com/css2?family=Aldrich&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap';
:root {
  --main_color: oklch(79.74% 0.224 148.96deg);
  --line_color: oklch(63.64% 0.178 150.5deg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

#mainContent {
  display: block;
  justify-content: center;
  margin: auto;
  color: white;
  text-align: center;
}

.mainContent_fade_in {
  opacity: 0; /* 초기에 투명하게 설정 */
  transition: opacity 1s ease;
}

.visible {
  opacity: 1; /* 보이게 될 때 opacity를 1로 변경 */
}

.navigation {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem 1rem;
  font-family: Aldrich, sans-serif;
  background-color: oklch(21.86% 0 0deg);
}
.navigation__logo_text {
  font-size: 1.5rem;
}
.navigation__logo {
  max-width: 4%;
  padding-block: 0.3rem;
  margin-inline: 1rem;
}
.navigation__categories {
  display: flex;
  flex-grow: 1;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  align-items: center;
  font-size: 1.1875rem;
}
.navigation__categories_left {
  display: flex;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
}
.navigation__categories_right {
  display: flex;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
}
.navigation__categories_left {
  flex-grow: 1;
  justify-content: flex-end;
}
.navigation__categories_right {
  flex-grow: 1;
  justify-content: flex-start;
}
.navigation__3line {
  margin-left: 1rem;
}

.main_cover {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  margin: 0;
  overflow: hidden;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.cover__img {
  height: auto;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.8rem;
}
.text1__big_text {
  margin-bottom: 1.6rem;
  font-family: aldrich, sans-serif;
  font-size: 2.1875rem;
  color: var(--main_color);
}
.text1__small_text {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  color: var(--main_color);
}

.line {
  width: 80vw;
  margin-block: 3rem;
  margin-inline: 10rem;
  color: var(--line_color);
  border: solid 0.0313rem var(--main_color);
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.text1_typing {
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease;
  animation: typing 4s steps(40, end) forwards;
}
.text1_typing.show {
  opacity: 1;
}