@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css'; //프리텐다드 폰트 "Pretendard Variable", Pretendard로 쓰면됨- 한국어 사용시

@import 'https://fonts.googleapis.com/css2?family=Aldrich&display=swap'; //Aldrich 폰트-첫로딩창

@import 'https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'; //픽셀폰트
//Pixelify San 필셀 느낌 폰트(특정 포인트 사용) - 카드 사용예정 구상중

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'; //Roboto 로보토(기본 폰트로 거의 다 사용 예정)

@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'; // Roboto Condensed 로보토 자간 좁힌거 설정(특정에만 사용 예정)

:root {
  --main_color: oklch(79.74% 0.224 148.96deg);
  --line_color: oklch(63.64% 0.178 150.5deg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

#mainContent {
  display: block;
  justify-content: center;
  margin: auto;
  color: white;
  text-align: center;
}

.mainContent_fade_in {
  opacity: 0; /* 초기에 투명하게 설정 */
  transition: opacity 1s ease;
}

.visible {
  opacity: 1; /* 보이게 될 때 opacity를 1로 변경 */
}

.navigation {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem 1rem;
  font-family: Aldrich, sans-serif;
  background-color: oklch(21.86% 0 0deg);

  &__logo_text {
    font-size: 1.5rem;
  }

  &__logo {
    max-width: 4%;
    padding-block: 0.3rem;
    margin-inline: 1rem;
  }

  &__categories {
    display: flex;
    flex-grow: 1;
    column-gap: 2.5rem;
    align-items: center;

    // column-gap: 10px;
    font-size: 1.1875rem;

    &_left {
      display: flex;
      column-gap: 3.75rem;

      // margin-right: -20rem;
    }

    &_right {
      display: flex;
      column-gap: 3.75rem;

      // margin-left: -10rem;
    }
  }

  &__categories_left {
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__categories_right {
    flex-grow: 1;
    justify-content: flex-start;
  }

  &__3line {
    margin-left: 1rem;
  }
}

.main_cover {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  margin: 0;
  overflow: hidden;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.cover__img {
  height: auto;
  margin: auto;
  object-fit: contain;
}

.text1 {
  padding-top: 5.8rem;

  &__big_text {
    margin-bottom: 1.6rem;
    font-family: aldrich, sans-serif;
    font-size: 2.1875rem;
    color: var(--main_color);
  }

  &__small_text {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
    font-size: 1.1875rem;
    font-weight: 400;
    color: var(--main_color);
  }
}

.line {
  margin-block: 3rem;
  margin-inline: 10rem;
  color: var(--line_color);
  border: solid 0.0313rem var(--main_color);
}
