@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css'; //프리텐다드 폰트 "Pretendard Variable", Pretendard로 쓰면됨- 한국어 사용시

@import 'https://fonts.googleapis.com/css2?family=Aldrich&display=swap'; //Aldrich 폰트-첫로딩창

@import 'https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'; //픽셀폰트
//Pixelify San 필셀 느낌 폰트(특정 포인트 사용) - 카드 사용예정 구상중

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'; //Roboto 로보토(기본 폰트로 거의 다 사용 예정)

@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'; // Roboto Condensed 로보토 자간 좁힌거 설정(특정에만 사용 예정)

@import 'https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wdth,GRAD@0,8..144,50..150,-50..100;1,8..144,50..150,-50..100&display=swap'; //Roboto Serif숫자쓸떄 사용

:root {
  --main_color: oklch(79.74% 0.224 148.96deg);
  --line_color: oklch(63.64% 0.178 150.5deg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: aldrich, sans-serif;
}

p {
  margin: 0;
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

#mainContent {
  display: block;
  justify-content: center;
  margin: auto;
  color: white;
  text-align: center;
}

.mainContent_fade_in {
  opacity: 0; /* 초기에 투명하게 설정 */
  transition: opacity 1s ease;
}

.visible {
  opacity: 1; /* 보이게 될 때 opacity를 1로 변경 */
}

.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1000;
  width: 100%;
  transform: translateX(-50%);
}

.navigation {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem 1rem;
  font-family: Aldrich, sans-serif;
  background-color: oklch(21.86% 0 0deg);

  &__logo_text {
    font-size: 1.5rem;
  }

  &__logo {
    max-width: 3%;
    padding-block: 0.3rem;
    margin-inline: 1rem;
  }

  &__categories {
    display: flex;
    flex-grow: 1;
    column-gap: 2.5rem;
    align-items: center;

    // column-gap: 10px;
    font-size: 0.9688rem;

    &_left {
      display: flex;
      column-gap: 3.75rem;

      // margin-right: -20rem;
    }

    &_right {
      display: flex;
      column-gap: 3.75rem;

      // margin-left: -10rem;
    }
  }

  &__categories_left {
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__categories_right {
    flex-grow: 1;
    justify-content: flex-start;
  }

  &__3line {
    margin-left: 1rem;
  }
}

.main_cover {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 7.5rem;
  margin: 0;
  overflow: hidden;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.cover__img {
  height: auto;
  margin: auto;
  object-fit: contain;
}

.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.8rem;

  &__big_text {
    margin-bottom: 1.6rem;
    font-family: aldrich, sans-serif;
    font-size: 2.1875rem;
    color: var(--main_color);
  }

  &__small_text {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
    font-size: 1.1875rem;
    font-weight: 400;
    color: var(--main_color);
  }
}

.line {
  width: 90%;
  margin-block: 3rem;
  margin-inline: 10rem;
  color: var(--line_color);
  border: solid 0.0313rem var(--main_color);
}

@keyframes typing {
  0% {
    width: 0;
  }

  50% {
    width: 40%;
  }

  100% {
    width: 100%;
  }
}

.text1_typing {
  overflow: hidden;
  white-space: nowrap;
  opacity: 0; // 초기에는 텍스트를 숨김
  transition: opacity 0.5s ease; // 텍스트가 나타나는 애니메이션 효과
  animation: typing 7.6s steps(40, end) forwards; // 애니메이션 종료 후 상태를 유지

  &.show {
    opacity: 1; // show 클래스가 추가되면 텍스트가 나타남
  }
}

.gallery {
  margin-block: 26.8125rem 6.875rem;
  font-size: 1.875rem;
  letter-spacing: 1rem;
}

.gallery_img {
  position: relative;
  max-width: 100%;
  margin-inline: 8rem;

  .gallery_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 0.75rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .gallery_img__1 {
      grid-row: 1 / 3;
      grid-column: 1 / 3;
      aspect-ratio: 2 / 3;
    }

    .gallery_img__2 {
      grid-row: 1 / 2;
      grid-column: 3 / 6;
      aspect-ratio: 16 / 11;
    }

    .gallery_img__3 {
      grid-row: 1 / 3;
      grid-column: 6 / 7;
      aspect-ratio: 2 / 4;
    }

    .gallery_img__4 {
      grid-row: 2 / 3;
      grid-column: 3 / 5;
      aspect-ratio: 601 / 249;
    }

    .gallery_img__5 {
      grid-row: 2 / 3;
      grid-column: 5 / 7;
      aspect-ratio: 601 / 249;
    }

    .gallery_grid_box {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      aspect-ratio: 21.875rem / 14.6875rem;
    }

    .gallery_img__7 {
      padding-top: 1rem;
    }

    .gallery_img__8 {
      grid-row: 3 / 4;
      grid-column: 2 / 7;
      aspect-ratio: 28 / 13;

      // 그 등찢고나오는 장면 (이미지 위치 잘못해서 그냥 적고 알아보기)
    }
  }
}

.gallery_img2 {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  margin-top: 2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
}

.gallery_img2::-webkit-scrollbar {
  display: none;
}

.gallery_img2 img {
  /*   scroll-snap이 달라붙는 item 기준 start, end, center */
  scroll-snap-align: start;
  height: 300px;
}

.overview {
  display: flex;
  justify-content: center;
  margin-block: 28.125rem 15rem;
  font-size: 1.875rem;
  letter-spacing: 1rem;
}

span {
  font-weight: 400;
}

.overview_position {
  display: flex;
  align-items: center;
  width: 80vw; /* 뷰포트 너비의 80% */
  max-width: 1000px; /* 최대 너비 설정 */
  padding-inline: 5vw; /* 뷰포트 너비의 5% */
  transform: translateX(15%); /* 왼쪽으로 15% 이동 */

  &__img {
    width: 50%;
    margin-right: 2.6875rem;
  }

  &__title1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--main_color);
  }

  &__text {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
    font-size: 0.8438rem;
    font-weight: 200;
    line-height: 1.875rem;
    text-align: left;
  }

  &__text_1,
  &__text_2,
  &__text_3 {
    margin-block: 1rem;
  }
}

.overview_position2 {
  width: 80vw;

  &__title2 {
    margin-right: -7rem;
    font-family: 'Roboto Serif', serif;
    font-size: 12.5rem;
    font-weight: 600;
    color: oklch(65.34% 0 0deg);
    text-align: right;
  }

  &__text2 {
    max-width: 65%;
    margin-left: auto;
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
    font-size: 0.8438rem;
    font-weight: 200;
    line-height: 1.875rem;
    text-align: right;
  }

  &__text2_1,
  &__text2_2,
  &__text2_3 {
    margin-block: 2rem;
  }

  &__text2_1 {
    margin-top: 4rem;
  }
}

.overview_position3 {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-inline: 14.375rem;
  margin-top: 13rem;

  &__img {
    width: 80%;
    margin-right: 2.6875rem;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--main_color);
  }

  &__text3 {
    margin-top: 3rem;
    margin-left: auto;
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
    font-size: 0.8438rem;
    font-weight: 200;
    line-height: 1.875rem;
    text-align: left;
  }

  &__text3_1 {
    margin-top: 2.0625rem;
    margin-bottom: 2.0625rem;
  }

  &__text3_1,
  &__text3_2 {
    padding-right: 2.5rem;
  }
}

.overview_position4 {
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  margin-top: 12rem;

  &__img {
    max-width: 90%;
    margin-inline: auto;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--main_color);
  }

  &__text4 {
    width: 68vw;
    margin-inline: auto;
    margin-top: 6.25rem;
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
    font-size: 0.8438rem;
    font-weight: 200;
    line-height: 1.875rem;
    text-align: left;
  }

  &__text4_1 {
    margin-top: 2.0625rem;
    margin-bottom: 1.375rem;
  }
}

.movie {
  display: flex;
  justify-content: center;
  margin-block: 28.125rem 10rem;
  font-size: 1.875rem;
  letter-spacing: 1rem;
}

.movie_position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_img {
    width: 100%;
    min-width: 9.375rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.movie_position_top,
.movie_position_bottom {
  display: flex;
}
