@charset "UTF-8";
@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css';
@import 'https://fonts.googleapis.com/css2?family=Aldrich&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wdth,GRAD@0,8..144,50..150,-50..100;1,8..144,50..150,-50..100&display=swap';
:root {
  --main_color: oklch(79.74% 0.224 148.96deg);
  --line_color: oklch(63.64% 0.178 150.5deg);
  --navigation_color: oklch(21.86% 0 0deg);
  --cards_background_color: oklch(23.32% 0.035 144.35deg);
  --hover_color: oklch(27.76% 0.074 147.57deg);
  --hover_categories_color: oklch(79.74% 0.205 163.46deg);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: aldrich, sans-serif;
}

p {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.back_ground_texture {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 1170vh;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/graphy.png");
  opacity: 0.28;
}

.flex {
  display: flex;
}

#mainContent {
  display: block;
  justify-content: center;
  margin: auto;
  color: white;
  text-align: center;
}

.mainContent_fade_in {
  opacity: 0;
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}

.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1000;
  width: 100%;
  transform: translateX(-50%);
}

.navigation {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem 1rem;
  font-family: Aldrich, sans-serif;
  background-color: oklch(21.86% 0 0deg);
}
.navigation__logo_text {
  font-size: 1.5rem;
}
.navigation__logo-link {
  display: flex;
  align-items: center;
  max-width: 3%;
  text-decoration: none;
}
.navigation__logo-link:hover, .navigation__logo-link:focus {
  text-decoration: none;
}
.navigation__logo {
  max-width: 30%;
  height: auto;
  padding-block: 0.3rem;
  margin-inline: auto;
  filter: brightness(60%);
}
.navigation__logo:hover {
  filter: brightness(100%);
}
.navigation__categories {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 0.9688rem;
}
.navigation__categories_left {
  display: flex;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
}
.navigation__categories_left--1 .navigation__categories_left--color:hover {
  color: var(--main_color);
  background-color: unset;
}
.navigation__categories_right {
  display: flex;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
}
.navigation__categories_right--1 .navigation__categories_right--color:hover {
  color: var(--main_color);
  background-color: unset;
}
.navigation__categories_left {
  flex-grow: 1;
  justify-content: flex-end;
}
.navigation__categories_right {
  flex-grow: 1;
  justify-content: flex-start;
}
.navigation__3line {
  margin-left: 1rem;
}

.main_cover {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 7.5rem;
  margin: 0;
  overflow: hidden;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.cover__img {
  height: auto;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.8rem;
}
.text1__big_text {
  margin-bottom: 1.6rem;
  font-family: aldrich, sans-serif;
  font-size: 2.1875rem;
  color: var(--main_color);
}
.text1__small_text {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  color: var(--main_color);
}

.line {
  width: 90%;
  margin-block: 3rem;
  margin-inline: 10rem;
  color: var(--line_color);
  border: solid 0.0313rem var(--main_color);
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 100%;
  }
}
.text1_typing {
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: typing 5.3s steps(40, end) forwards;
}
.text1_typing.show {
  opacity: 1;
}

.gallery {
  padding-block: 3.5rem;
  margin-block: 26.8125rem 6.875rem;
  margin-inline: 35vw;
  font-size: 1.875rem;
  letter-spacing: 1rem;
  background-color: var(--navigation_color);
  border-radius: 80%;
  transition: background-color 0s ease, transform 0.25s ease;
}

.gallery:hover {
  background-color: var(--hover_categories_color);
  border-radius: 0%;
  transform: scale(1.2); /* hover 시 크기 증가 */
}

.gallery_img {
  position: relative;
  max-width: 100%;
  margin-inline: 8rem;
}
.gallery_img .gallery_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 0.75rem;
}
.gallery_img .gallery_grid img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery_img .gallery_grid .gallery_img__1 {
  grid-row: 1/3;
  grid-column: 1/3;
  aspect-ratio: 2/3;
}
.gallery_img .gallery_grid .gallery_img__2 {
  grid-row: 1/2;
  grid-column: 3/6;
  aspect-ratio: 16/11;
}
.gallery_img .gallery_grid .gallery_img__3 {
  grid-row: 1/3;
  grid-column: 6/7;
  aspect-ratio: 2/4;
}
.gallery_img .gallery_grid .gallery_img__4 {
  grid-row: 2/3;
  grid-column: 3/5;
  aspect-ratio: 601/249;
}
.gallery_img .gallery_grid .gallery_img__5 {
  grid-row: 2/3;
  grid-column: 5/7;
  aspect-ratio: 601/249;
}
.gallery_img .gallery_grid .gallery_grid_box {
  grid-row: 3/4;
  grid-column: 1/2;
  aspect-ratio: 21.875rem/14.6875rem;
}
.gallery_img .gallery_grid .gallery_img__7 {
  padding-top: 1rem;
}
.gallery_img .gallery_grid .gallery_img__8 {
  grid-row: 3/4;
  grid-column: 2/7;
  aspect-ratio: 28/13;
}

.gallery_img2 {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  padding-block: 2rem;
  margin-top: 2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
}

.gallery_img2::-webkit-scrollbar {
  width: 1px;
  background-color: black;
}

.gallery_img2:hover::-webkit-scrollbar-thumb {
  background-color: var(--main_color);
  border-radius: 10px;
}

.gallery_img2:hover {
  background-color: var(--hover_color);
}

.gallery_img2 img {
  scroll-snap-align: start;
  height: 300px;
}

.overview {
  padding-block: 3.5rem;
  margin-block: 28.125rem 15rem;
  margin-inline: 35vw;
  font-size: 1.875rem;
  letter-spacing: 1rem;
  background-color: var(--navigation_color);
  border-radius: 80%;
  transition: background-color 0s ease, transform 0.25s ease;
}

.overview:hover {
  background-color: var(--hover_categories_color);
  border-radius: 0%;
  transform: scale(1.2);
}

span {
  font-weight: 400;
}

.overview_position {
  display: flex;
  align-items: center;
  width: 80vw; /* 뷰포트 너비의 80% */
  max-width: 1000px; /* 최대 너비 설정 */
  padding-inline: 5vw; /* 뷰포트 너비의 5% */
  transform: translateX(15%); /* 왼쪽으로 15% 이동 */
}
.overview_position__img {
  width: 50%;
  margin-right: 2.6875rem;
}
.overview_position__title1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--main_color);
}
.overview_position__text {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 0.8438rem;
  font-weight: 200;
  line-height: 1.875rem;
  text-align: left;
}
.overview_position__text_1, .overview_position__text_2, .overview_position__text_3 {
  margin-block: 1rem;
}

.overview_position2 {
  width: 80vw;
}
.overview_position2__title2 {
  margin-right: -7rem;
  font-family: "Roboto Serif", serif;
  font-size: 12.5rem;
  font-weight: 600;
  color: oklch(65.34% 0 0deg);
  text-align: right;
}
.overview_position2__text2 {
  max-width: 65%;
  margin-left: auto;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 0.8438rem;
  font-weight: 200;
  line-height: 1.875rem;
  text-align: right;
}
.overview_position2__text2_1, .overview_position2__text2_2, .overview_position2__text2_3 {
  margin-block: 2rem;
}
.overview_position2__text2_1 {
  margin-top: 4rem;
}

.overview_position3 {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-inline: 14.375rem;
  margin-top: 13rem;
}
.overview_position3__img {
  width: 80%;
  margin-right: 2.6875rem;
}
.overview_position3__title {
  font-size: 20px;
  font-weight: 500;
  color: var(--main_color);
}
.overview_position3__text3 {
  margin-top: 3rem;
  margin-left: auto;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 0.8438rem;
  font-weight: 200;
  line-height: 1.875rem;
  text-align: left;
}
.overview_position3__text3_1 {
  margin-top: 2.0625rem;
  margin-bottom: 2.0625rem;
}
.overview_position3__text3_1, .overview_position3__text3_2 {
  padding-right: 2.5rem;
}

.overview_position4 {
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  margin-top: 12rem;
}
.overview_position4__img {
  max-width: 90%;
  margin-inline: auto;
}
.overview_position4__title {
  font-size: 20px;
  font-weight: 500;
  color: var(--main_color);
}
.overview_position4__text4 {
  width: 68vw;
  margin-inline: auto;
  margin-top: 6.25rem;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 0.8438rem;
  font-weight: 200;
  line-height: 1.875rem;
  text-align: left;
}
.overview_position4__text4_1 {
  margin-top: 2.0625rem;
  margin-bottom: 1.375rem;
}

.movie {
  display: flex;
  justify-content: center;
  padding-block: 3.5rem;
  margin-block: 28.125rem 10rem;
  margin-inline: 35vw;
  font-size: 1.875rem;
  letter-spacing: 1rem;
  background-color: var(--navigation_color);
  border-radius: 80%;
  transition: background-color 0s ease, transform 0.25s ease;
}

.movie:hover {
  background-color: var(--hover_categories_color);
  border-radius: 0%;
  transform: scale(1.2);
}

.movie_position_img:hover .overlay {
  opacity: 1;
}

.movie_position_wrap {
  width: 70%;
  max-width: 1200px;
  margin-inline: auto;
}

.movie_position_top,
.movie_position_bottom {
  display: flex;
  flex-wrap: wrap; /* 화면이 작아질 때 줄 바꿈 처리 */
  gap: 2rem;
}

.movie_position_img {
  position: relative;
  width: 100%;
  height: auto;
}
.movie_position_img img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie_position_img a {
  text-decoration: none;
}
.movie_position_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-clip-path: circle(0% at center);
          clip-path: circle(0% at center);
  color: white;
  text-align: center;
  background-color: oklch(0% 0.025 148.9603066781deg/66.2%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease, -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease, opacity 0.3s ease;
  transition: clip-path 0.3s ease, opacity 0.3s ease, -webkit-clip-path 0.3s ease;
}
.movie_position_img:hover .overlay {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  opacity: 1;
  transform: scale(0.9); /* hover 시 확대 효과 */
}
.movie_position_img .overlay:hover .movie_title,
.movie_position_img .overlay:hover .movie_text {
  transform: scale(0.88); /* hover 시 텍스트 확대 효과 */
}
.movie_position_img .overlay .movie_title {
  margin-bottom: 0.375rem;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 2.3125rem;
  transition: transform 0.3s ease;
}
.movie_position_img .overlay .movie_text {
  margin-bottom: 0.625rem;
  font-family: aldrich, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  transition: transform 0.3s ease;
}

.movie_position_top,
.movie_position_bottom {
  display: flex;
  gap: 2rem;
}

.movie_position_bottom {
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}

.movie_position_top .movie_position_img,
.movie_position_bottom .movie_position_img {
  width: calc(25% - 2rem);
  min-width: 9.375rem;
  height: auto;
}

.video {
  display: flex;
  gap: 1rem; /* 각 요소 사이의 간격 설정 */
  justify-content: space-around; /* 요소들 사이의 간격을 동일하게 설정 */
  padding-block: 2rem;
  margin-top: 7rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  background-color: var(--navigation_color);
}
.video .movie_video_1,
.video .movie_video_2,
.video .movie_video_3,
.video .movie_video_4,
.video .movie_video_5,
.video .movie_video_6 {
  /* 클래스 이름이 올바르지 않은 것을 수정함 */
  width: 100%; /* 부모 요소(.video)에 맞추어 100% 너비 설정 */
  max-width: calc(33% - 1rem); /* 부모 요소에서 간격을 제외한 너비의 1/3으로 설정 */
  height: auto; /* 높이 자동으로 설정 */
}

.video::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
  justify-content: center;
  padding-block: 3.5rem;
  margin: 30.5rem 0 10rem;
  margin-inline: 35vw;
  font-size: 1.875rem;
  letter-spacing: 1rem;
  background-color: var(--navigation_color);
  border-radius: 80%;
  transition: background-color 0s ease, transform 0.25s ease;
}

.cards:hover {
  background-color: var(--hover_categories_color);
  border-radius: 0%;
  transform: scale(1.2);
}

.flip-card {
  position: relative;
  width: 303px;
  height: 25.4375rem;
  background-color: black;
  transition: transform 0.7s ease;
  perspective: 1000px;
}
.flip-card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
  border: 0.05rem solid var(--main_color);
  border-radius: 3%;
  transition: transform 0.7s ease, border 0.7s ease;
}
.flip-card:hover::before {
  border-width: 0.1rem;
  border-radius: 3%;
  transform: scale(1.15);
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  overflow: scroll;
  transition: background-color 0.7s ease;
  backface-visibility: hidden;
  scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
  -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
}
.flip-card .flip-card-front::-webkit-scrollbar,
.flip-card .flip-card-back::-webkit-scrollbar {
  display: none; /* Chrome, Safari 및 Opera에 대한 스크롤바 숨김 */
}
.flip-card-front {
  box-sizing: border-box;
}
.flip-card-front img {
  display: block;
  width: 90%;
  height: 90%;
  padding-bottom: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.flip-card-front:hover {
  cursor: pointer;
  background-color: var(--cards_background_color);
  border-radius: 3%;
  transform: scale(1.15);
}
.flip-card-back {
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  background-color: var(--cards_background_color);
  transform: rotateY(180deg);
}
.flip-card-back-title, .flip-card-back-subtitle, .flip-card-back-text1 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.flip-card-back-title {
  margin-top: 17px;
  font-family: "Pixelify Sans", Aldrich, sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--main_color);
  letter-spacing: 0.4rem;
}
.flip-card-back-subtitle {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--main_color);
  letter-spacing: 0.19rem;
}
.flip-card-back-text1 {
  margin-top: 1.2rem;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 13px;
  line-height: 25px;
}
.flip-card-title {
  margin-top: 17px;
  font-family: "Pixelify Sans", Aldrich, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--main_color);
  letter-spacing: 0.4rem;
}
.flip-card-subtitle {
  margin-bottom: 0.7rem;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--main_color);
  letter-spacing: 0.19rem;
}

.is-flipped {
  transform: rotateY(180deg);
}

.cards_flex {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding-inline: 4rem;
}